  <meta name="author" content="Stephen Brennan">
  <meta name="description" content="Talks by Stephen Brennan"/>
  <meta name="keywords" content="{% if page.keywords %}{{page.keywords}} {% endif %}{{site.keywords}}">

  <!-- Open Graph tags (Facebook meta-info) -->
  <meta property="og:title" content="{{ page.title }} - {{ site.name }}"/>
  <meta property="og:url" content="{{ site.url }}{{ page.url }}"/>
  <meta property="og:image" content="{{ site.url }}{{ site.logo }}"/>
  <meta property="og:description" content="{% if page.description %}{{page.description}}{% else %}{{site.description}}{% endif %}"/>
  <meta property="og:site_name" content="{{ site.title }}"/>
  <meta property="og:see_also" content="{{site.url}}"/>

  <!-- Twitter meta-info -->
  <meta name="twitter:card" content="summary"/>
  <meta name="twitter:url" content="{{site.url}}{{page.url}}"/>
  <meta name="twitter:title" content="{{page.title}} - {{site.name}}"/>
  <meta name="twitter:description" content="{% if page.description %}{{page.description}}{% else %}{{site.description}}{% endif %}"/>
  <meta name="twitter:image" content="{{site.root}}{{site.logo}}"/>
