<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
  <div class="site-content">
  <nav>
    <input type="checkbox" id="nav" class="hidden"/>
    <label for="nav" class="nav-open"><i></i><i></i><i></i></label>
    <div class="nav-container">
      <ul>
        <li><a href="/" class="title">Stephen Brennan</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/resume">Resume</a></li>
      </ul>
    </div>
  </nav>
  </div>

  {{ content }}

  <div style="clear:both;"></div>
  <div class="poweredby">
      <a href="/legal">Legal</a> &#8226;
      <a href="/blog/rss.xml">RSS</a>
  </div>
  </body>
</html>
